.fit-box {
    width: 75%;
}

.center-text {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74vh;
}

.lil-container {
    display: flex;
    justify-content: center;
    align-items: center;
}